.BarWrapper {
  display: flex;
  transform: rotateX(180deg);
}

.BarWrapper:hover > .Bar {
  cursor: pointer;
  background: white;
}

.MirrorWrapper {
  display: flex;
}

.MirrorWrapper:hover {
  cursor: pointer;
}

.AnimatedBar {
  width: 3px;
  border-right: 0.1px solid grey;
  margin-top: 1.3px;
  background: purple;
  animation: mymove 1s;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 10px;}
}

.Bar {
  width: 3px;
  background: rgb(216, 215, 215);
  border-right: 0.1px solid grey;
  margin-top: 1.3px;
}

.Mirror {
  width: 3px;
  background: rgb(186, 184, 184);
  border-right: 0.1px solid grey;
}